<section class="border-radius basket-side">
    <header><h3> سبد خرید شما  </h3></header>
    <article>
        <ul>
            <li>
                <img class="border-radius" src="./Image/1.jpg">
                <div class="left-basket">
                    <a href="">محصول شماره یک <span class="border-radius"> 2 </span></a>
                </div>
            </li>
            <li>
                <img class="border-radius" src="./Image/1.jpg">
                <div class="left-basket">
                    <a href="">محصول شماره یک <span class="border-radius"> 2 </span></a>
                </div>
            </li>
            <li>
                <img class="border-radius" src="./Image/1.jpg">
                <div class="left-basket">
                    <a href="">محصول شماره یک <span class="border-radius"> 2 </span></a>
                </div>
            </li>
        </ul>
        <a href="" class="show-basket-button border-radius">مشاهده سبد خرید</a>
    </article>
    </section>