<section class="border-radius compare-side">
    <header><h3> لیست مقایسه </h3></header>
    <article>
        <ul>
            <li>
                <i class="delete-compare">X</i>
                <a href="">محصول شماره یک </a>
            </li>
            <li>
                <i class="delete-compare">X</i>
                <a href="">محصول شماره یک </a>
            </li>
            <li>
                <i class="delete-compare">X</i>
                <a href="">محصول شماره یک </a>
            </li>
        </ul>
        <a href="" class="show-compare-list border-radius">مشاهده لیست مقایسه</a>
    </article>
    </section>