
@using System.Configuration
@model DataLayer.Users
<div style=" direction: rtl; text-align: center;  height: 100px; width: auto; ">

    <h1>@Model.UserName عزیز !</h1>
    <p>برای بازیابی کلمه عبور خود لطفا روی لینک زیر کلیک کنید.</p>
    <p><a href="@ConfigurationManager.AppSettings["Domain"]/RecoveryPassword/@Model.ActiveCode">بازیابی کلمه عبور</a></p>

</div>

