@{
    ViewBag.Title = "فعالسازی حساب کاربری";
}
<div class="alert alert-success">

    <h2>@ViewBag.Name عزیز !</h2>
    <p>
        حساب کاربری شما فعال شد و از طریق <a href="login">لینک</a>

        میتوانید وارد حساب کاربری خود شوید.

    </p>


</div>