@model DataLayer.Users
@{
    ViewBag.Title = "SuccessSendEmailForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    <p> کاربر @Model.UserName لینک حاوی بازیابی کلمه عبور به این ایمیل @Model.Email ارسال شد </p>
    <p>جهت بازیابی کلمه عبور روی لینک کلیک کنید</p>
</div>

